<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Name='Nemrod Maps' 
        Id='237151F8-85AF-11E5-AF63-FEFF819CDCA1'
        Language='1033' Codepage='1252' Version='2.0.1' 
        Manufacturer='Jf Beaulac'
        UpgradeCode='0A3C458F-AE09-459A-BD02-536414AD1B95'>

		<Package Id='*' 
			 Keywords='Installer'
			 Description='Nemrod Maps Installer'
			 InstallerVersion='100' Languages='1033' 
			 Compressed='yes' SummaryCodepage='1252' />
		 
		<Media Id='1' Cabinet='Nemrod.cab' EmbedCab='yes'/>
		 
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="CommonAppDataFolder">
				<Directory Id="NEMRODMAPSDIR" Name="Nemrod Maps">
					<Directory Id="NEMRODTRANSPARENT" Name="Transparent">
						<Component Id="TransparentProductFiles" Guid="18348B87-5B81-4083-A61C-C15555892871">
							<File Id='trans_maplacdesplages' Name='10000000.img' 
								  Source='..\..\Output-MapTK\NemrodTransparent\10000000.img' Vital='yes' DiskId='1'/>
							<File Id='trans_mapsthilaire' Name='10000001.img' 
								  Source='..\..\Output-MapTK\NemrodTransparent\10000001.img' Vital='yes' DiskId='1'/>
							<!-- <File Id='trans_mdx' Name='M00101.mdx' 
								  Source='..\..\Output-MapTK\NemrodTransparent\M00101.mdx' Vital='yes' DiskId='1'/> -->
							<File Id='trans_typ' Name='M00101.typ' 
								  Source='..\..\Output-MapTK\NemrodTransparent\M00101.typ' Vital='yes' DiskId='1'/>
							<File Id='trans_rdb' Name='M00101.tdb' 
								  Source='..\..\Output-MapTK\NemrodTransparent\M00101.tdb' Vital='yes' DiskId='1'/>
							<!-- <File Id='trans_addresses' Name='M00101_mdr.img' 
								  Source='..\..\Output-MapTK\NemrodTransparent\M00101_mdr.img' Vital='yes' DiskId='1'/> -->
							<File Id='trans_overview' Name='overview.img' 
								  Source='..\..\Output-MapTK\NemrodTransparent\overview.img' Vital='yes' DiskId='1'/>
						</Component>
					</Directory>
					<Directory Id="NEMRODCOMPLETE" Name="Complete">
						<Component Id="CompleteProductFiles" Guid="18348B87-5B81-4083-A61C-C15555892872">
							<File Id='comp_maplacdesplages' Name='10000000.img' 
								  Source='..\..\Output-MapTK\NemrodComplete\10000000.img' Vital='yes' DiskId='1'/>
					<!-- 		<File Id='comp_mdx' Name='M00102.mdx' 
								  Source='..\..\Output-MapTK\NemrodComplete\M00102.mdx' Vital='yes' DiskId='1'/> -->
							<File Id='comp_typ' Name='M00102.typ' 
								  Source='..\..\Output-MapTK\NemrodComplete\M00102.typ' Vital='yes' DiskId='1'/>
							<File Id='comp_rdb' Name='M00102.tdb' 
								  Source='..\..\Output-MapTK\NemrodComplete\M00102.tdb' Vital='yes' DiskId='1'/>
						<!-- 	<File Id='comp_addresses' Name='M00102_mdr.img' 
								  Source='..\..\Output-MapTK\NemrodComplete\M00102_mdr.img' Vital='yes' DiskId='1'/> -->
							<File Id='comp_overview' Name='overview.img' 
								  Source='..\..\Output-MapTK\NemrodComplete\overview.img' Vital='yes' DiskId='1'/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Component Id="TransparentRegistryKeys" Guid="F35AB64E-5B6E-433F-9467-DF855580E76B">
				<RegistryKey Root="HKLM"
							 Key="Software\Garmin\Mapsource\Families\Nemrod Transparent Maps"
							 ForceDeleteOnUninstall="yes">
					<RegistryValue Name="ID" Type="binary" Value="6500"/>
					<RegistryValue Name="TYP" Type="string" Value="[NEMRODMAPSDIR]Transparent\M00101.typ"/>
					<!-- <RegistryValue Name="MDR" Type="string" Value="[NEMRODMAPSDIR]Transparent\M00101_mdr.img"/>
					<RegistryValue Name="IDX" Type="string" Value="[NEMRODMAPSDIR]Transparent\M00101.mdx"/> -->
					<RegistryKey Key="1">
						<RegistryValue Name="BMAP" Type="string" Value="[NEMRODMAPSDIR]Transparent\overview.img"/>
						<RegistryValue Name="LOC" Type="string" Value="[NEMRODMAPSDIR]Transparent\"/>
						<RegistryValue Name="TDB" Type="string" Value="[NEMRODMAPSDIR]Transparent\M00101.tdb"/>
					</RegistryKey>
				</RegistryKey>
			</Component>
			<Component Id="CompleteRegistryKeys" Guid="F35AB64E-5B6E-433F-9467-DF855580E76C">
				<RegistryKey Root="HKLM"
							 Key="Software\Garmin\Mapsource\Families\Nemrod Complete Maps"
							 ForceDeleteOnUninstall="yes">
					<RegistryValue Name="ID" Type="binary" Value="6600"/>
					<RegistryValue Name="TYP" Type="string" Value="[NEMRODMAPSDIR]Complete\M00102.typ"/>
					<!-- <RegistryValue Name="MDR" Type="string" Value="[NEMRODMAPSDIR]Complete\M00102_mdr.img"/> -->
					<!-- <RegistryValue Name="IDX" Type="string" Value="[NEMRODMAPSDIR]Complete\M00102.mdx"/> -->
					<RegistryKey Key="1">
						<RegistryValue Name="BMAP" Type="string" Value="[NEMRODMAPSDIR]Complete\overview.img"/>
						<RegistryValue Name="LOC" Type="string" Value="[NEMRODMAPSDIR]Complete\"/>
						<RegistryValue Name="TDB" Type="string" Value="[NEMRODMAPSDIR]Complete\M00102.tdb"/>
					</RegistryKey>
				</RegistryKey>
			</Component>
		</Directory>
		
		<WixVariable Id="WixUIBannerBmp" Value="banner.jpg" />
		
		<Property Id="WIXUI_INSTALLDIR" Value="NEMRODMAPSDIR" />
		<UI Id="InstallDirUI">
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg"  Order="3">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"  Order="3">1</Publish>
		</UI>
		
		<Feature Id="Product" Title="Map Product" Level="1">
			<ComponentRef Id="TransparentProductFiles" />
			<ComponentRef Id="TransparentRegistryKeys" />
			<ComponentRef Id="CompleteProductFiles" />
			<ComponentRef Id="CompleteRegistryKeys" />
		</Feature>
		<MajorUpgrade
			DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>
	 </Product>
</Wix>


