Installer/WiX/*
!Installer/WiX/banner.jpg
!Installer/WiX/installer.wxs
*.suo
MapTk.prj.bak
MapTK.log
NemrodToolkit/nbproject/private
NemrodToolkit/hello.exe
NemrodToolkit/generate-overview.exe
NemrodToolkit/debugOverview.mp
obj/
