Installer/WiX/installer.wixpdb
Installer/WiX/installer.wixobj
Installer/WiX/installer.msi
*.suo
MapTk.prj.bak
MapTK.log
NemrodToolkit/nbproject/private
NemrodToolkit/hello.exe
NemrodToolkit/generate-overview.exe
NemrodToolkit/debugOverview.mp
obj/
